.canvas {
  background-color: #151d28;
  color: #76d49e;
}
.titleBar { 
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 0px auto 10px auto;
  border: 2px solid #76d49e;
}
.titleBar h1 {
  display: inline;
  width: auto;
  margin: auto 10px;
}
.diceIcons {
  width: auto;
  display: inline-flex;
  margin: auto 0px;
}
.diceIcons img {
  width: 16px;
  height: 16px;
  padding: 1px;
}
.menu {
  display: flex;
}
.chooseDice {
  display: inline-block;
  position: relative;
  border: 2px solid #76d49e;
  height: 100%;
  width: 30%;
}
.chooseDice h3 {
  text-align: center;
} 
.buttonHolder {
  display: flexbox;
  width: 80%;
  margin: 0px auto 10px;
}
.buttonHolder button {
  margin: 10px;
  background-color: #394a50;
}
.buttonHolder button:hover {
  background-color: #819796;
}
.diceSettings {
  display: inline-block;
  margin: 0px 10px;
  border: 2px solid #76d49e;
  width: 40%;
  height: 100%;
}
.diceSettings h3 {
  text-align: center;
}
.settingHolder {
  width: 80%;
  margin: 0px auto 10px;
}
.rollDice {
  display: inline-block;
  width: 25.5%;
  height: 100%;
}
.rollHolder {
  display: flex;
  width: 80%;
  margin: 10px auto 10px;
}
.rollHolder button {
  width: 100%;
  height: 75px;
  margin: 10px auto 10px;
  background-color: #76d49e;
  border-radius: 10px;
  transition: background-color .2s;
  color: #151d28;
}
.rollHolder button:hover {
  background-color: #2d9067;
}

#diceTable {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
}
.diceOnTable {
  margin: 0px auto;
  width: 64px;
}
.diceOnTableHold {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  min-width: 128px;
}
.afterRollMenu {
  position: fixed;
  width: 100%;
  left: 25%;
  bottom: 7%;
  display: none;
}
.afterRollMenu button {
  width: 25%;
  height: 60px;
  background-color: #76d49e;
  border-radius: 10px;
  transition: background-color .2s;
  color: #151d28;
  font-size: 1.5em;
}
.afterRollMenu button:hover {
  background-color: #2d9067;
}
.diceStats {
  display: block;
  width:  45%;
  height: 10%;
  border: 2px solid #76d49e;
  margin: 0px auto 10px auto;
}
.diceStats h3 {
  display: table;
  margin: 10px auto;
  width: auto;
}
.statsHolder {
  display: flex;
  width: 100%;
  height: 8em;
}
.statsHolder div {
  margin: 0px 10px;
}
.statSpacer {
  width: 10%;
}